<%- include ('../partials/header') %>

<main>
  <div class="container">
    <div class="col"><%- include ('../partials/message') %></div>
    <h2>Video Details Page</h2>
    <div>
      <div class="card">
        <% if(result.platform == 'youtube') {%>
          <a href="https://www.youtube.com/watch?v=<%= result.id %>">Watch on YouTube</a>
          <iframe  height = "900px" src="https://www.youtube.com/embed/<%= result.id %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <%} if (result.platform == 1) {%>
        <% let id = result.link.split("=")[2]; %>
          <a href="<%= result.url %>">Watch on YouTube</a>
          <iframe  height = "900px" src="https://www.youtube.com/embed/<%= id %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <%}%>
        <% if(result.platform == 'vimeo') {%>
          <a href="<%= result.url %>">Watch on Vimeo</a>
          <% let id = result.id.split("/")[2]; %>
          <iframe height = "900px" src="https://player.vimeo.com/video/<%= id %>" height="300" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        <%} if (result.platform == 2) {%>
          <% let id = result.link.split("/")[3]; %>
          <a href="<%= result.url %>">Watch on Vimeo</a>
          <iframe  height = "900px" src="https://player.vimeo.com/video/<%= id %>"  height="300" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        <%}%>
      </div>
    </div>
    <form action="/home" method = "POST">
      <button  class="btn btn-primary">
        <h7>Back</h7>
      </button>
    </form>
  </div>
</main>

<style>
  .card {
    position: relative;
    height:300px; 
  }
  .card .card-body {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .card .btn {
    pointer-events: all;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
</style>
<%- include ('../partials/footer') %>