<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">

    <div class="col"><%- include ('../partials/message') %></div>









    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h1>Discover Some Shows!!</h1>


      <% results.data._embedded.events.forEach(function(result){ %>
        <div class="card" style="width: 18rem;">
          <img src="<%- result.images[0].url %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= result.name %></h5>
            <p class="card-text"><%= result.dates.start.localDate %></p>
            <a href="<%- result.url %>" class="btn btn-primary">Book Now!</a>
          </div>
        </div>
      <% }) %>


      

  </div>
</main>

<%- include ('../partials/footer') %>