<%- include ('../partials/header') %>

<main>
  <div class="container">
    <div class="col"><%- include ('../partials/message') %></div>
    <h2>Past Videos</h2>
    <table class="table table-dark table-striped table-hover">
      <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Release</th>
            <th scope="col">Views</th>
            <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% videos.forEach(function(video) { %>
        <tr>
          <td scope="row"><%= video.title %></td>
          <td><%= video.release %></td>
          <td><%= video.views %></td>
          <td>
            <a class="btn" href="<%= video.link %>" role="button">Watch</a>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</main>

<%- include ('../partials/footer') %> 