<%- include ('../partials/header') %>

<main>
  <div class="container">
    <div class="col"><%- include ('../partials/message') %></div>
    <h2>Past Videos</h2>
    <div class="container-fluid">
      <div class="row">
        <% videos.forEach(function(video) { %>
        <div class="col-md-3">
          <div class="card">
            <% if(video.platform == 1) {%>
              <a href="https://www.youtube.com/watch?v=<%= video.link %>">Watch on YouTube</a>
              <iframe  height = "300px" src="https://www.youtube.com/embed/<%= video.link %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              <%}%>
              <% if(video.platform == 2) {%>
                <a href="<%= video.link %>">Watch on Vimeo</a>
                <iframe height = "300px" src="https://player.vimeo.com/video/<%= video.link.split("/")[2] %>"  height="300" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

              <%}%>
            <div class="card-body">
              <h5 class="card-title"><%= video.title %></h5>
              <p class="card-text"><%= video.description %></p>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %> 