<%- include ('../partials/header') %>

<main>
  <div class="container">
    <div class="col"><%- include ('../partials/message') %></div>
    <h2>Past Videos</h2>
    <div class="container-fluid">
      <div class="row">
        <% videos.forEach(function(video) { %>
        <div class="col-md-3">
          <div class="card">
              <a href="<% video.link %>">Watch on YouTube</a>
            <div class="card-body">
              <h5 class="card-title"><%= video.title %></h5>
              <p class="card-text"><%= video.description %></p>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %> 