<%- include ('../partials/header') %>

<main>
  <div class="container">

    <div class="col"><%- include ('../partials/message') %></div>
    <h2>Welcome Home</h2>
    <form id="form"> 
      <input type="search" id="query" name="q" placeholder="Find Creative videos...">
      <button>Search</button>
    </form>
    <h5>Video results displayed below...</h5>
    <h1>JavaScript Tutorials</h1>
    <ul>
        <% for(var i = 0; i < result.length; i++) { %>
          <li>
            <h2><%= result[i].title %></h2>
            <p><%= result[i].description %></p>
           
          </li>
        <% } %>
    </ul>
  </div>
</main>

<%- include ('../partials/footer') %>