<% if (loggedIn) { %>
  <%- include ('../partials/header') %>
<% } else { %>
  <%- include ('../partials/headnoLogin') %>
<% } %>
<main>
  <div class="container">
    <div class="col"><%- include ('../partials/message') %></div>
    <h2>Welcome to Spotlight!</h2>
    <h5>Feeling Lazy? Quick search!</h5>
    <div>
        <% tags.forEach(tag => { %>
          <ul class="tag">
          <form  method="POST" action="/home" onsubmit="addloading()">
            <input type="hidden" name="q" value="<%= tag %>">
            <button class="tag-box" type="submit"><%= tag %></button>
          </form>
          </ul>
        <% }); %>
      </ul>
    </div>
  </div>
</main>

<style>
  .tag-box {
    background-color: darkred;
    color: goldenrod;
    border: 2px solid darkred;
    border-radius: 10px;
    
  }
   .tag-container {
    position:relative;
    flex-wrap: wrap;
    gap: 10px;
  }
  .tag
  {
    display: inline-block;
    position: relative;
    margin: 10px;
    padding: 10px 20px;
    border: 2px solid goldenrod;
    color: goldenrod;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(166, 15, 15, 0.700);
    transition: all 0.3s ease;
    border-radius: 10px;
  }
  .tag:hover {
    color: pink;
    background-color: goldenrod;
    border-color: goldenrod;
    transform: scale(0.8);
  }
</style>

<%- include ('../partials/footer') %>