<%- include ('../partials/header') %>

<main>
  <div class="container">
    <div class="col"><%- include ('../partials/message') %></div>
    <h2>Welcome to Spotlight!</h2>
    <h5>Browse Tags:</h5>
    <!--
    <table>
      <thead>
        <tr>
          <th>Tag Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% tags.forEach(function(tag) { %>
          <tr>
            <td><%= tag.name %></td>
            <td><%= tag.description %></td>
          </tr>
        <% }); %>
      </tbody>
    </table> 
    -->
</main>

<%- include ('../partials/footer') %>