<% if (loggedIn) { %>
  <%- include ('../partials/header') %>
<% } else { %>
  <%- include ('../partials/headNoLogin') %>
<% } %>
<main>
  
  <div class="container">
    <div class="col"><%- include ('../partials/message') %></div>
    <h2>Welcome to Spotlight!</h2>
    <h5>Browse Tags:</h5>
    <div class="tag-container">
      <h2>Tags</h2>
      <ul class="tag">
        <% tags.forEach(tag => { %>
          <div class="card card-body">
            <a href="/home/<%= tag %>"><%= tag %></a>
          </div>
        <% }); %>
      </ul>
    </div>
  </div>
</main>
<style>
   .tag-container {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .tag
  {
    pointer-events: none;
    position:relative;
    top: 19;
    left: 0;
    right: 0;
    bottom: 0;
    color: #ff1111a0;
    padding: 20px;
  }

</style>

<%- include ('../partials/footer') %>